.currentAddressBox {
    margin: 10px 0 0 10px;
    width: 68%;
    border-radius: 12px;
    border: white solid 1px;
    color: white;
    text-align: left;
    padding: 0 0 10px 10px;
}

.portfolioBox {
    margin: 10px 10px 0 10px;
    padding: 10px;
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 12px;
}

.token_grid_row {
    min-height: 45px;
    align-items: center;
    margin: 5px 0 0 5px;
}

.portfolio_label_row {
    color: #585858;
    min-height: 35px;
    font-size: 14px;
    margin-top: 19px;
    align-items: center;
}

@media (max-width: 540px) {
    .currentAddressBox {
        width: 93%;
    }
}